/* default, enabled field */
.pinlogin .pinlogin-field {
	box-sizing: border-box;
	
	display: inline-block;
	
	width: 29px;
	height: 38px;
	
	padding: 5px;
	
	margin: 5px;
	margin-top:20px;
	
	border: 1px solid rgba(30,37,51, 0.5)
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;	
	border-radius: 8px;
	
	text-align: center;
	
	font-family: Arial;
	font-size: 13pt;
	font-weight: bold;
	color: white;
	
	outline:none;
	
	-webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,.1);		
	-moz-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,.1);	
	box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,.1);	

	background: rgb(34 43 59);
	
	transition: all .5s;

}

.pinlogin .pinlogin-field:first-of-type {
    margin-left: 0;
}

.pinlogin .pinlogin-field:last-of-type {
    margin-right: 0;
}

/* field with focus */
.pinlogin .pinlogin-field:focus {
	border-color: rgba(0,174,255,1);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,174,255,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,174,255,1);
	box-shadow: 0px 0px 5px 0px rgba(0,174,255,1);
}

/* field that's readonly */
.pinlogin .pinlogin-field:read-only
{
	border-color:#ddd ;
	color:#aaa;
	background:#f5f5f5;
	cursor:default;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}

/* field that's invalid */
.pinlogin .pinlogin-field.invalid
{
	border-color:red;
	color:red;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(255,0,0,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(255,0,0,1);
	box-shadow: 0px 0px 5px 0px rgba(255,0,0,1);
}

@media (max-width: 1279px){
	.pinlogin .pinlogin-field {
		font-size:13px;
		width: 22px;
		height: 34px;
		margin-right:2px;
	}
}